---
title: Program
menus: header
layout: pageWithJumbotron
permalink: /program/
program:
    - category: IT
      points:
          - name: Všechny důležité informace na jedné webové stránce
            text: Chceme, aby stát měl nějakou "homepage", kde by byly všechny důležité informace přehledně a odkazy na další weby státu (ministerstva, kraje, města, školy).
            args:
                - ulehčení života všech, kteří chtějí něco najít
                - vždy vím, kde něco najdu, nepotřebuji žádný externí vyhledávač
          - name: Jednotný styl webových stránek všech státních institucí
            text: Chceme, aby všechny státní weby měly jednotný layout, jednotlivé instituce by akorát měly různé obrázky, texty, barvy a loga. Layoutů by bylo více, podle kategoríí instutuce, např. školy by měly jiný layout než kraje, a ministerstva by měla také jiný, ale stále dost podobné, aby se na nich dalo přehledně orientovat (narozdíl od aktuálního stavu).
            args:
                - umožní jednoduchou a intuitivní orientaci
                - pokud se orientuji na jedné stránce, orientuji se všude
          - name: Centrální digitální autorita kontrolující výše uvedené body
            text: Chceme zavést centrální digitální autoritu, která bude kontolovat a spravovat digitální stát.
            args:
                - zajištění digitální jednotnosti státu
                - kontrola zákonů v digitálním světě
    - category: Doprava
      points:
        - name: Zrušení salámové metody stavby dálnic
          text: Chceme stavět dálnice po velkých kusech (řádově desítky kilometrů) narozdíl od dnešního stavu (jednotky kilometrů). Slibujeme si od toho rychlejší dostavbu celé sítě dálnic, protože nebudeme nuceni stavět v kontroverzních lokalitách, protože to už jinak napojit nepůjde.
          args:
                - efektivnější
                - rychlejší
        - name: Dotování vodíkových aut
          text: Chceme podporovat ekologický způsob dopravy, kterým jsou vodíková auta. Jejich výroba je ekologičtější než u elektromobilů a jsou praktičtější pro dálkové jízdy.
          args:
                - ekologičtější než benzinová auta
                - efektivnější než elektroauta
    - category: Školství
      points:
        - name: Ustálení maturit
          text: Chceme 
          args:
                - ulehčení života studentů
                - snadnější příprava na budoucí zaměstnání/studium na vysoké škole
                - jednodušší práce také pro učitele
        - name: Dobrovolná maturita z literatury
          text: false
          args:
                - ulehčení práce studentům
                - zvýšení úspěšnosti maturity z ČJ
        - name: Dobrovolné vyučovací předměty u vyšších ročníků středních škol
          text: Chceme zvýšit počet volitelných předmětů na středních školách, aby se žáci mohli lépe specializovat na svůj obor.
          args:
                - jednalo by se o třídy seminárních ročníků
                - bylo by lepší se zaměřit vyloženě na předměty, kterým se chceme věnovat do budoucna
                - dříve to tak bylo a fungovalo to, tak proč to nevrátit zpět
        - name: Zrušení inkluze ve školství
          text: Inkluze akorát rozevírá inteligenční nůžky ve třídách a zpomaluje celý proces vyučování. Slabší žáci nechápou a musí se jim přizpůsobovat výuka, zatímco chytří žáci se nudí a nedávají pozor. Zrušením inkluze by se rozevření těchto nůžek zamezilo a výuka by mohla být lépe uzpůsobena individuálním potřebám žáků.
          args:
              - zvýšení průměrné úrovně znalostí u všech zasažených skupin
              - chytří žáci nebudou zpomalováni inkludovanými spolužáky
              - inkludovaní žáci budou mít více času pro individuální výuku
        - name: Zrušení pamlskové vyhlášky
          text: Chceme zrušit "pamlskovou vyhlášku" (vyhl. 282/2016 Sb., Vyhláška o požadavcích na potraviny, pro které je přípustná reklama a které lze nabízet k prodeji a prodávat ve školách a školských zařízeních), neboť se domníváme, že dospělí i děti by měli požívat stejných práv podle ústavního zákona č. 2/1993 Sb., Listina základních práv a svobod.
          args:
              - stejně to nefunguje, děti si koupí jídlo jinde
              - všichni budou šťastní a v teple díky čokoládě z automatu
              - pamlsková vyhláška neřeší dětskou obezitu, jen přesouvá existující problém ze škol ven
    - category: Ekonomie a ekonomika
      points:
        - name: Zrušení svěřenských fondů
          text: Chceme zrušit svěřenecké fondy, aby je nemohl nejmenovaný oligarcha (jistý A.B.) zneužívat pro své politické zájmy.
          args:
                - vyjasnění vlastnictví a ovlivňování médií
                - zpřehlednění dotační politky
        - name: Snížení cen datového připojení
          text: Chceme do České republiky přivést čtvrtého operátora tak, aby se snížily ceny datového připojení nejen pro studenty.
          args:
                - nastavení podmínek pro 4. operátora tak, aby pro něj bylo výhodné přijít do České republiky
                - levnější datové připojení a telefonování
        - name: Clo na neekologické státy
          text: Chceme zavést clo na neekologické státy, neplnící Pařížskou dohodu, čímž si slibujeme zvýšení konkurenceschopnosti našich výrobců, protože nekologická výroba je levnější.
          args:
                - zvýšení konkurenceschopnosti českých výrobců
                - pobízí k vyšší ekologičnosti

    - category: Ostatní
      points:
        - name: Sociální dávky podmíněné zaměstnaností
          text: Chceme zamezit nepřizpůsobivým občanům zneužívání sociálního systému státu tak, že podmíníme pobírání dávek zaměstnáním.
          args:
              - snížilo by se procento nezaměstnanosti
              - ekonomicky výhodné
              - možnost snížení sociálního pojištění → zvýšení mezd
        - name: Homosexuální sňatky
          text: Chceme zrušit omezení pro stejnopohlavní páry, aby požívali stejných práv jako páry různopohlavní.
          args:
              - registované partnerství není plnohodnotné manželství
              - práva by měla být požívána bez rozdílu pohlaví
        - name: Pouliční lampy s pohybovým čidlem
          text: Chceme zamezit zbytečnému plýtvání elektrickou energií a snížit světelné znečištění.
          args:
              - lepší podmínky pro pozorování noční oblohy
              - menší zmatení nočního hmyzu
---

{% for category in page.program %}
    <input type="checkbox"  id="spoiler {{ category.category }}" checked/>
    <label for="spoiler {{ category.category }}" ><h1>{{ category.category }}</h1></label>
    <div class="spoiler">
    {% for point in category.points %}
    <input type="checkbox"  id="spoiler {{ point.name }}"/> 
    <label for="spoiler {{ point.name }}" ><h2>{{ point.name }}&nbsp;<span style="color: var(--light-border-color); font-size:50%">🡿</span></h2></label>
    <div class="spoiler">
        {% if point.text %}
            <p>{{ point.text }}</p>
        {% endif %}
        <ul style="margin-bottom:0px">
        {% for arg in point.args %}
            <li>{{ arg }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
    </div>
    
{% endfor %}
  
