---
title: Program
menus: header
layout: pageWithJumbotron
permalink: /program/
program:
    - category: IT
      points:
          - text: Všechny důležité informace na jedné webové stránce
            args:
                - ulehčení života všech, kteří chtějí něco najít
                - vždy vím kde něco najdu, nepotřebuju žádný externí vyhledávač
          - text: Jednotný styl webových stránek všech státních institucí
            args:
                - umožní jednoduchou a intuitivní orientaci
                - pokud se orientuji na jedné stránce orientuji se všude
          - text: Centrální digitální autorita kontrolující výše uvedené body
            args:
                - nadále také kontorluje postupy a činosti institucí v digitálním světě čímš zajišťení konzistence napříč institucemi
                - jinak by byl totální chaos
    - category: Doprava
      points:
        - text: Přechod k německému systému stavby dálnic
          args:
                - efektivnější
        - text: Dotování vodíkových aut
          args:
                - ekologičtější než benzinová auta
                - efektivnější než elektroauta
    - category: Školství
      points:
        - text: Ustálení maturit
          args:
                - ulehčení života studentů
                - snadnější příprava na budoucí zaměstnání/studium na vysoké škole
                - jednodušší práce také pro učitele
        - text: Dobrovolná maturita z literatury
          args:
                - ulehčení práce studentům
                - zvýšení úspěšnosti maturity z ČJ
        - text: Zavedení dobrovolnosti vyučovaných předmětů u vyšších ročníků středních škol
          args:
                - jednalo by se o třídy seminárních ročníků
                - bylo by lepší se zaměřit vyloženě na předměty, kterým se chceme věnovat do budoucna
                - dříve to tak bylo a fungovalo to, tak proč to nevrátit zpět
        - text: Zrušení inkluze ve školství
          args:
              - zvýšení průměrné úrovně znalostí u všech zasažených skupin
              - chytří žáci nebudou zpomalováni inkludovanými spolužáky
              - inkludovaní žáci nebudou taháni i přes neznalost dále chytrými spolužáky
        - text: Zrušení pamlskové vyhlášky
          args:
              - stejně to nefunguje, děti si koupí jídlo jinde
              - všichni budou šťastní a v teple díky čokošce z automatu
              - pamlsková vyhláška neřeší dětskou obezitu, jen přesouvá existující problém ze škol ven
    - category: Ekonomie a ekonomika
      points:
        - text: Zrušení svěřenských fondů
          args:
                - navrhuje se zrušit svěřenské fondy, aby je nejmenovaný oligarcha (jistý AB) nemohl zneužívat pro své politické zájmy
                - zjednodušení práce pro účetní, kteří nebudou muset řešit obskurní operace
        - text: Příchod 4. operátora na český trh ⟹ Snížení cen datového připojení
          args:
                - nastavení podmínek pro 4. operátora tak, aby pro něj bylo výhodné přijít do České republiky
                - levnější datové připojení a telefonování nejen pro studenty
        - text: Clo na neekologické státy
          args:
                - zvýšení konkurenceschopnosti českých výrobců
                - pobízí k vyšší ekonomičnosti

    - category: Ostatní
      points:
        - text: Sociální dávky podmíněné zaměstnaností
          args:
              - snížilo by se procento nezaměstnanosti
              - ekonomicky výhodné
              - možnost snížení sociálního pojištění → zvýšení mezd
        - text: Homosexuální sňatky
          args:
              - Všichni jsou si rovni, tak proč by si heterosexuálové měli být rovnější?
        - text: Pouliční lampy s čidlem
          args:
              - menší světelné znečištění
---

{% for category in page.program %}
    <input type="checkbox"  id="spoiler {{ category.category }}" checked/>
    <label for="spoiler {{ category.category }}" ><h1>{{ category.category }}</h1></label>
    <div class="spoiler">
    {% for point in category.points %}
    <input type="checkbox"  id="spoiler {{ point.text }}"/> 
    <label for="spoiler {{ point.text }}" ><h2>{{ point.text }}&nbsp;<span style="color: var(--light-border-color); font-size:50%">🡿</span></h2></label>
    <div class="spoiler">
        <ul style="margin-bottom:0px">
        {% for arg in point.args %}
            <li>{{ arg }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
    </div>
    
{% endfor %}
  