---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
      </a>
      <h1 class="profile-name">{{ page.title }}</h1>
      <p class="profile-bio">{{ page.subtitle }}</p>
      {% if page.github_username %} {%- include github_follow_button.html -%} {%
      endif %}

      <p class="profile-links">
        {% if page.twitter_username %}
        <a
          class="social-link"
          href="http://twitter.com/{{ page.twitter_username }}"
        >
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %} {% if page.facebook_username %}
        <a
          class="social-link"
          href="http://facebook.com/{{ page.facebook_username }}"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        {% endif %} {% if page.instagram_username %}
        <a
          class="social-link"
          href="http://instagram.com/{{ page.instagram_username }}"
        >
          <i class="fab fa-instagram"></i>
        </a>
        {% endif %} {% if page.medium_username %}
        <a
          class="social-link"
          href="http://medium.com/@{{ page.medium_username }}"
        >
          <i class="fab fa-medium-m"></i>
        </a>
        {% endif %} {% if page.github_username %}
        <a
          class="social-link"
          href="http://github.com/{{ page.github_username }}"
        >
          <i class="fab fa-github"></i>
        </a>
        {% endif %} {% if page.behance_username %}
        <a
          class="social-link"
          href="http://behance.net/{{ page.behance_username }}"
        >
          <i class="fab fa-behance"></i>
        </a>
        {% endif %} {% if page.linkedin_username %}
        <a
          class="social-link"
          href="http://linkedin.com/in/{{ page.linkedin_username }}"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %} {% if page.telegram_username %}
        <a class="social-link" href="http://t.me/{{ page.telegram_username }}">
          <i class="fab fa-telegram-plane"></i>
        </a>
        {% endif %} {% if page.dribbble_username %}
        <a
          class="social-link"
          href="https://dribbble.com/{{ page.dribbble_username }}"
        >
          <i class="fab fa-dribbble"></i>
        </a>
        {% endif %} {% if page.flickr_username %}
        <a
          class="social-link"
          href="https://www.flickr.com/photos/{{ page.flickr_username }}"
        >
          <i class="fab fa-flickr"></i>
        </a>
        {% endif %}
      </p>

      {% if page.author_location %}
      <h6><i class="fas fa-map-marker-alt"></i> {{ page.author_location }}</h6>
      {% endif %} {% if page.author_email %}
      <h6><i class="fas fa-envelope"></i> {{ page.author_email }}</h6>
      {% endif %} {% if page.author_website_url %}
      <h6><i class="fas fa-link"></i> {{ page.author_website_url }}</h6>
      {% endif %}
    </div>

    <div class="card">
      <h1>Skills</h1>

      {{ page.authorSkills }}
    </div>

    {% if page.wakatime_username %}
    <div class="card">
      <h1>Coding Activity</h1>

      {%- include coding_activity.html -%}
    </div>
    {% endif %}
  </div>
  <div class="col-lg-7">
    {% if page.author_bio %}
    <div class="card">
      <h1 class="card-title">About</h1>
      <p>{{ page.author_bio }}</p>
    </div>
    {% endif %} {% if page.show_author_project_details == true %}
    <div id="author_projects" class="card">
      <h1 class="card-title">Projects</h1>
      <br />
      {% for project in page.author_project_details %} {% if project.visibility
      == true %}
      <div class="row" id="project-card">
        <div class="col-md-6">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{project.project_thumbnail}}"
            class="project-img"
          />
        </div>
        <div class="col-md-4 center">
          <h4 class="experience-title">{{ project.project_title }}</h4>
          <h6 class="experience-info">{{ project.project_info}}</h6>
          <p class="experience-desc">{{ project.project_description }}</p>
          <p>
            <a class="project-link" href="{{project.project_url}}"
              >{{ project.project_url}}</a
            >
          </p>
        </div>
      </div>
      <br />
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% if page.show_author_work_experiences == true %}
    <div class="card">
      <h1 class="card-title">Work Experience</h1>
      <br />
      {% for exp in page.author_work_experiences %} {% if exp.visibility == true
      %}
      <div class="row">
        <div class="col-md-2">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}"
            class="company-logo"
          />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title">{{ exp.designation }}</h4>
          <h6 class="experience-info">{{ exp.company_name}}</h6>
          <p class="experience-desc">{{ exp.description }}</p>
          <p><a href="{{exp.company_url}}">{{ exp.company_url}}</a></p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% if page.show_author_education_details == true %}
    <div class="card">
      <h1 class="card-title">Education</h1>
      <br />
      {% for detail in page.author_education_details %} {% if detail.visibility
      == true %}
      <div class="row">
        <div class="col-md-2">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{ detail.college_logo}}"
            class="company-logo"
          />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title">{{detail.college_degree }}</h4>
          <h6 class="experience-info">{{detail.college_name}}</h6>
          <p class="experience-desc">{{detail.description}}</p>
          <p><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
